{% extends 'superior.html' %}

{% block content %}

      <div class="container">
      <div class="row ">
      <div class="col-12 text-center my-5"  style="padding: 42px 35px;  background: rgba(171, 119, 157, 0.27);">          
          <div class="card-text p-2 mb-5 bg-light">
            <h4>DISPATRACE Registration</h4>
          </div>
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      
        <form method="post">
            {% csrf_token %}
            {% for field in registration_form %}
            <div class="form-group row">
                <label for="staticEmail" class="col-4 col-form-label">{{ field.label_tag }}</label>
                <div class="col-8">
                    {{ field }}
                    {% if field.help_text %}
                    <!-- <small style="color: white" class="signup-help">{{ field.help_text }}</small> -->
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">                            
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <button id="createUser" type="submit" class="btn btn-md btn-primary btn-block disabled">Sign Up</button>
                </div>
            </div>
        </form>  
        </div>
      </div>
      </div>      

{% endblock %}

{% block scripts %}


<script type="text/javascript">
  $('#id_password2').on('keyup', function(e){
    var pass2 = $(this).val(),
        pass1 = $('#id_password1').val();
        if (pass2.length > 4) {
          if (pass1 === pass2) {
            $('button#createUser').removeClass('disabled');
          } else {
            $('button#createUser').addClass('disabled');
          }          
        }
  }); 
  $('#id_password1').on('keyup', function(e){
    var pass1 = $(this).val(),
        pass2 = $('#id_password2').val();
        if (pass2.length > 4) {
          if (pass1 === pass2) {
            $('button#createUser').removeClass('disabled');
          } else {
            $('button#createUser').addClass('disabled');
          }          
        }
  });
</script>
{% endblock %}