{% extends 'superior.html' %}
{% load profile_tags_filters %}

{% block content %}			

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 profile-info widget">
			<div class="stats-info-agileits {% if not object.active %}bg-danger{% endif %}">
				<div class="stats-title">
					<h4 class="text-center">
						{{ object.user.first_name }} {{ object.user.last_name }}	
                        {% if request.user|has_group:"Administrator" %}					
					        <span class="float-right mr-auto">
					            <a class="text-dark btn btn-outline-info" href="{% url 'profiles:profile-edit' profile_id=object.pk %}"><span><i class="fa fa-edit"></i></span></a>
					        </span>
				        {% endif %}
					</h4>
				</div>
				<div class="stats-body">
					<table class="table" ui-jq="footable" ui-options='{
					    "paging": {
					    "enabled": true
					    },
					    "filtering": {
					    "enabled": true
					    },
					    "sorting": {
					    "enabled": true
					    }}'>
						<thead>
					        <tr>
					            <th></th>    
					            <th></th>
					        </tr>
					    </thead>
					    <tbody>
				            <tr>
				                <td class="text-dark">Username</td>
				                <td class="text-dark">@{{ object.user.username }}</td>
				            </tr>
				            <tr>
				                <td class="text-dark">Permission Groups</td>
				                <td class="text-dark">
                                    {% if object.group.all.count > 0 %}
                                        {% for group in object.group.all %}<span class="mr-1">{{ group.name }},</span>{% endfor %}
                                    {% else %}
                                        ----- 
                                    {% endif %}</td>				                
				            </tr>
				            <tr>
				                <td class="text-dark">Title</td>
				                <td class="text-dark">{% if object.title %}{{ object.title }}{% else %} ----- {% endif %}</td>				                
				            </tr>
				            <tr>
				                <td class="text-dark">Level</td>
				                <td class="text-dark">{% if object.level %}{{ object.level }}{% else %} ----- {% endif %}</td>
				            </tr>
				            <tr>
				                <td class="text-dark">Department</td>
				                <td class="text-dark">{% if object.department %}{{ object.department }}{% else %} ----- {% endif %}</td>
				            </tr>
				            <tr>
				                <td class="text-dark">Office/Branch</td>
				                <td class="text-dark">{% if object.office %}{{ object.office }}{% else %} ----- {% endif %}</td>
				            </tr>
				            <tr>
				                <td class="text-dark">City</td>
				                <td class="text-dark">{% if object.city %}{{ object.city }}{% else %} ----- {% endif %}</td>
				            </tr>
				            <tr>
				                <td class="text-dark">Country</td>
				                <td class="text-dark">{% if object.city.country %}{{ object.city.country }}{% else %} ----- {% endif %}</td>
				            </tr>
					    </tbody>
					</table>    
				</div>
				<div class="">
					{% if request.user == object.user or request.user|has_group:"Password Resetor" %}
						<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#PasswordChangeModal">Reset Password</button>
					{% endif %}
				</div>
			</div>
		</div>		
	</div>
</div>

	<!-- password reset modal --> 
	<div id="PasswordChangeModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="ForcePasswordChangeModal" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content p-3">
				<form id="passwordReset" action="{% url 'profiles:password-reset' %}">
					<div class="form-group">
						<label for="username">username</label>
						<input type="text" class="form-control" id="username" value="{{object.user.username}}" readonly>
					</div>
					<div class="form-group">
						<label for="password11">New Password</label>
						<input type="password" class="form-control" id="password11" placeholder="Password New">
					</div>
					<div class="form-group">
						<label for="password22">Password Confirm</label>
						<input type="password" class="form-control" id="password22" placeholder="Password Confirm">
					</div>
				</form>
				<div id="mess" class="p-2 d-none"></div>
				<div class="modal-footer">
					<button id="updatePasswordChange" type="button" class="btn btn-primary">Change Password</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}   

{% block scripts %}
<script>
	$('#updatePasswordChange').on("click" ,function(e) {
		e.preventDefault();
		e.stopImmediatePropagation();

		var button = $(this);
		button.addClass("disabled");

		var data = {};
		var form = $('form#passwordReset');

		var messages = $("div#mess");
		messages.removeClass("bg-success");
		messages.removeClass("bg-danger");
		messages.removeClass("d-none");
		messages.addClass("d-none");

		data["username"] = form.find('input#username').val();
		data["password1"] = form.find('input#password11').val();
		data["password2"] = form.find('input#password22').val();
		$.ajax({
			url: form.attr("action"),
			method: "post",
			data: data,
			success: function(res){
				if (res.error){
					messages.addClass("bg-danger");
					button.removeClass("disabled");
				}
				else {
					messages.addClass("bg-success"); 
					window.setTimeout(function () { 						
						if (res.relogin){
							window.location.reload()
						} else{
							$('#PasswordChangeModal').modal('hide'); 
						}						
					}, 3000);                           
				}
				messages.removeClass("d-none");
				messages.text(res.message);
			},
			error: function(err){}
		});
	});
</script>
{% endblock %}   