<table class="table" ui-jq="footable" ui-options='{
    "paging": {
    "enabled": true
    },
    "filtering": {
    "enabled": true
    },
    "sorting": {
    "enabled": true
    }}'>
    <thead>
        {% if user.user_profile.has_admin_access %}
            <tr>
                <span>
                    <a class="text-dark btn btn-outline-info" href="{% url 'profiles:department-add' %}">ADD DEPARTMENT <span><i class="fa fa-plus"></i></span></a>
                </span>
            </tr>
        {% endif %}
        <tr>
            <th class="text-white">Country</th>    
            <th class="text-white">City</th>
            <th class="text-white">Office / Brach</th>
            <th class="text-white">Departments</th>
            <th class="text-white">Code</th>
            {% if user.user_profile.has_admin_access %}
                <th class="text-white">EDIT</th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
            <tr>
                <td class="text-white">{{ department.city.country.name }}</td>
                <td class="text-white">{{ department.office.city.name }}</td>
                <td class="text-white">{{ department.office.name }}</td>
                <th class="text-white">{{ department.name }}</th>
                <th class="text-white">{{ department.code }}</th>
                {% if user.user_profile.has_admin_access %}
                    <td>
                        <a class="text-danger" href="{% url 'profiles:department-edit' department_id=department.pk %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td class="text-white">You have no departments registered yet</td>
                <td></td>
                <td></td>
                <th></th>
                <th></th>
            </tr>            
        {% endfor %}
    </tbody>
</table>    


{% if departments.has_other_pages %}
  <ul class="pagination">
    {% if departments.has_previous %}
      <li><a href="?page={{ departments.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

<!--     {% for i in departments.paginator.page_range %}
      {% if departments.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %} -->

    {% if departments.has_next %}
      <li><a href="?page={{ departments.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}