<form id="comment-{{ comment.pk }}" class="editForm" method='POST' action='{% url "memoir:comment-edit" memo_id=memo.pk comment_id=comment.pk %}' style="display:none;">
    {% csrf_token %}
	<div class="row">
	    <!-- <label for="comment" hidden>Comment</label> -->
	    <div class="col-10 offset-1">
	        <textarea class="form-control" id="comment" rows="3"></textarea>
	    </div>
	</div>
	<div class="row my-3">
	    <!-- <label for="password_confirm" >Password Confirmation</label> -->
	    <div class="col-4 offset-3">
	        <input type="password" class="form-control" id="password_confirm" placeholder="Password">
	    </div>
	    <div class="col-2">
	        <button type="submit" class="btn btn-info">Commit Changes</button>
	    </div>
	</div>

</form>
